<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <appSettings>
    <add key="SourcePathA" value="C:\SPUROOT2"/>
    <add key="TargetPathA" value="SPUROOT"/>
    <add key="SourcePathR" value="SPURES"/>
    <add key="TargetPathR" value="C:\SPURES2\INBOX\48"/>
    <add key="ClearPath" value="C:\SPURES2\RESULT"/>
    <add key="FTP_Password" value="111111"/>
    <add key="FTP_User" value="vipiski"/>
    <add key="FTP_Host" value="10.48.0.27"/>
  </appSettings>
</configuration>
